<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link href="styles/global.css" rel="stylesheet"/>
        <link href="styles/nav.css" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <input type="checkbox" name="nav-checkbox" id="nav-checkbox">
        <nav>
            <div class="left">
                <h1>Romain Aubry</h1>
                <h2>Developpeur web et mobile</h2>
            </div>
            <div class="right-mobil" id="right-mobil">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </div>
            <ul class="right-desktop" id="right-desktop">
                <li>
                    <a href="/#about">À propos</a>
                    <span id='span-about'></span>
                </li>
                <li>
                    <a href="/#projects">Portfolio</a>
                    <span id='span-projects'></span>
                </li>
                <li>
                    <a href="/contact">Contactez-moi</a>
                    <span id='span-contact'></span>
                </li>
            </ul>
            <ul class="menu-mobil" id="menu-mobil">
                <li>
                    <a href="/#about">À propos</a>
                    <span id='span-about'></span>
                </li>
                <li>
                    <a href="/#projects">Portfolio</a>
                    <span id='span-projects'></span>
                </li>
                <li>
                    <a href="/contact">Contactez-moi</a>
                    <span id='span-contact'></span>
                </li>
            </ul>
        </nav>
        <div class="undernav"></div>
        
        {% block body %}{% endblock %}

        <script src="javascript/navbar.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
